In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyodbc
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "notebook"

import helper
import dataloader

In [2]:
df = helper.get_dataframe_from_sqlserver_query('select * from dailysalesdata')

df =(
df.assign(
    MainDate = lambda _df: pd.to_datetime(_df['MainDate']).dt.normalize()
)
.drop('id',axis=1)
)

/Users/ganesh/Documents/ImportantWork/CleanRepo/BookingSales/helper.py:84: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

In [7]:
numcols = ['hasBooked',
       'hasCaxed', 'ProgramDuration', 'EnteredByUser', 'ExcelImport',
       'Website', 'Rank1-4', 'Rank5', 'Rank6-10', 'ProgramDuration_cax',
       'EnteredByUser_cax', 'ExcelImport_cax', 'Website_cax', 'Rank1-4_cax',
       'Rank5_cax', 'Rank6-10_cax']
nonnum = ['MarketName', 'SalesRepID', 'SalesRepName',]

d = {**{x: 'first' for x in nonnum}, **{x: 'sum' for x in numcols}}

In [8]:
df.groupby(nonnum).resample('1D', on='MainDate').agg(d).drop(nonnum, axis=1).reset_index()

,MarketName,SalesRepID,SalesRepName,MainDate,hasBooked,hasCaxed,ProgramDuration,EnteredByUser,ExcelImport,Website,Rank1-4,Rank5,Rank6-10,ProgramDuration_cax,EnteredByUser_cax,ExcelImport_cax,Website_cax,Rank1-4_cax,Rank5_cax,Rank6-10_cax
0,China,892,Malvina Belgrano,2020-06-24,2,0,18,1,0,1,1,0,1,0,0,0,0,0,0,0
1,China,1420,Shelly Xie,2019-06-12,1,0,2,1,0,0,0,1,0,0,0,0,0,0,0,0
2,China,1420,Shelly Xie,2019-06-13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,China,1420,Shelly Xie,2019-06-14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,China,1420,Shelly Xie,2019-06-15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151663,Vietnam,68059,Trinh Ngo,2020-02-26,2,0,6,1,0,1,1,0,1,0,0,0,0,0,0,0
151664,Vietnam,68059,Trinh Ngo,2020-02-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
151665,Vietnam,68059,Trinh Ngo,2020-02-28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
151666,Vietnam,68059,Trinh Ngo,2020-02-29,1,1,2,1,0,0,1,0,0,2,1,0,0,1,0,0
151667,Vietnam,68159,Loananh Tran,2020-03-06,1,0,2,0,0,1,0,0,1,0,0,0,0,0,0,0